.hero-section{
    background-color: #00263C;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
    padding: 5% 10%;

}

img{
    width: 200px;
    border-radius: 50%;
}

.title-center{
    width: 100%;
    /* height: 300px; */
    display: grid;
    /* justify-content: center; */
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

.resume a{
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 10px;
    text-decoration: none;
    color: White;
}
.resume a:hover{
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 10px;
    text-decoration: none;
    background-color: yellow;
    color: black;
}

@media screen and (max-width:820px) {
    .hero-section{   
        grid-template-columns: 1fr;
        
    }
}